<div class="container">
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready To Get Started?</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam nobis
          sapiente nostrum magnam quasi, enim deleniti reprehenderit optio
          delectus dolor.
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>
</div>
